<div class="container">
    <table class="table" border='1' cellpadding='5'>
        <thead>
        <tr>
            <th>News_id</th>
            <th>name</th>
            <th>slug</th>
            <th>description</th>
            <th>content</th>
            <th>categories_id</th>
            <th>user_id</th>
            <th>create_time</th>
            <th>image</th>
            <th>action</th>

        </tr>
        </thead>

        <tbody>
       <!-- --><?php /*pr($data); exit();*/
        foreach ($data as $ix => $row): ?>
            <tr>
                <td><?php echo $row['News']['id']; ?></td>
                <td><?php echo $row['News']['name']; ?></td>
                <td><?php echo $row['News']['slug']; ?></td>
                <td><?php echo $row['News']['description']; ?></td>
                <td><?php echo $row['News']['content']; ?></td>
                <td><?php echo $row['News']['category_id']; ?></td>
                <td><?php echo $row['News']['user_id']; ?></td>
                <td><?php echo $row['News']['create_time']; ?></td>
                <td>
                    <img
                    <img src="<?php echo $this->webroot .'/'. 'files' . '/' . $row['News']['name']. '/' . 'img' . '/'
                        . $row['News']['img'];?>" alt="" width="200" height="auto">

                </td>

                <td>
                    <ul>
                        <li><?php echo $this->Html->link
                            ('Edit', array('action' => 'edit', $row['News']['id'])); ?> </li>
                        <li><?php echo $this->Form->postLink
                            ('Delete', array('action' => 'delete', $row['News']['id']
                            )); ?> </li>
                        <li><?php echo $this->Html->link
                            ('List', array('action' => 'index')); ?> </li>
                        <li><?php echo $this->Html->link
                            ('New', array('action' => 'add')); ?> </li>
                    </ul>
                </td>
            </tr>


        <?php endforeach ?>
        </tbody>
    </table>
</div>