
<?php echo $this->Form->create('Category', array('url' => array('controller' => 'category', 'action' => 'add'),
    'type' => 'file')); ?>


<?php echo $this->Form->input('name', ['placeholder' => 'name', 'class' => 'form-control',  'autofocus' => true]) ?>

<?php echo $this->Form->input('slug', ['placeholder' => 'slug', 'class' => 'form-control',  'autofocus' => true]) ?>

<?php echo $this->Form->input('description', ['placeholder' => 'description', 'class' => 'form-control' , 'autofocus' => true]) ?>

<?php echo $this->Form->input('create_time', ['placeholder' => 'price', 'class' => 'form-control',  'autofocus' => true]) ?>

    <p><button type="submit" class="btn btn-primary">Submit</button>
<button type="button" onclick="history.go(-1)" class="btn btn-default">Back</button></p>
<?php echo $this->Form->end(); ?>